* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    background: url("fundo.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(10px);
    max-width: 750px;
    width: 100%;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

h1 {
    font-size: 2.7rem;
    margin-bottom: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #5b7cff;
    text-shadow: 0 4px 12px rgba(91,124,255,0.25);
}

p {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.8;
    margin-bottom: 15px;
}

.highlight {
    color: #5b7cff;
    font-weight: bold;
}

.foto img {
    width: 300px;
    height: 160px;
    object-fit: cover;
    object-position: center 40%;
    border-radius: 15px;
    border: 4px solid #5b7cff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.4s;
}

.foto img:hover {
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    margin-top: 25px;
    font-size: 0.9rem;
    color: #555;
}


